<div>
  <strong>Import:</strong>
  <p>
    Note: Only import CSV spreadsheets that were previously downloaded from this
    application.
  </p>
  <%= form_tag locals[:path], multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
  <% end %>
</div>
